
              </div>
            </div>    
        </div>
        <div class="footer">
          <div class="contact">
            <p>
                  David Kuehl<br />
                  Software Engineer<br />
                  davidkuehl86@gmail.com
            </p>
          </div>
          <div class="contact">
            <p>
              <a href="http://github.com/dkuehl/">github.com/dkuehl</a><br />
            </p>
          </div>
        </div>            
         <!-- /container -->
    </body>
</html>