<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<!--JS Libraries-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <img src="dkuehl.github.io/images/rmnp.jpg">
                <a href="/">{{ site.name }}</a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default" role="navigation">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="//default.html">Home</a>
                  </div>
                </nav>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-4">
                        
                </div>
                <div class="col-md-4 col-xs-9">
                    {{ content }}
                </div>
            </div>                              
            <div class="footer">
              <div class="contact">
                <p>
                  David Kuehl<br />
                  Software Engineer<br />
                  davidkuehl86@gmail.com
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/dkuehl/">github.com/dkuehl</a><br />
                </p>
              </div>
            </div>
          </div>
         <!-- /container -->

    </body>
</html>
